{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Order</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td class="text-start">{{ item["symbol"] }}</td>
                    <td class="text-end">{{ item["shares"] }}</td>
                    <td class="text-end">{{ item["order"] }}</td>
                    <td class="text-end">{{ item["price"] }}</td>
                    <td class="text-end">{{ item["transacted"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
