{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td class="text-start">{{ item["symbol"] }}</td>
                <td class="text-start">{{ item["name"] }}<br>
                    <a class="nav-link" style="display: inline-flex; padding: 0 15px 0 0;" href="/buy?symbol={{ item['symbol'] }}"><b>Buy</b></a></li>
                    <a class="nav-link" style="display: inline-flex; padding: 0 15px 0 0;" href="/sell?symbol={{ item['symbol'] }}"><b>Sell</b></a></li>
                </td>
                <td class="text-end">{{ item["shares"] }}</td>
                <td class="text-end">{{ item["price"] }}</td>
                <td class="text-end">{{ item["total"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ grandTotal }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}